<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Waiting List Fragment</title>
</head>
<body>
<div th:fragment="waitingFragment">
  <ul>
    <li th:each="patient : ${patients}" class="waiting-item">
      <span th:text="${patient.name}">환자 이름</span>
      <!-- 호출(진료중) 상태에 따라 다른 버튼을 표시 -->
      <button th:if="${!patient.called}" class="delete-btn" th:attr="data-id=${patient.id}">삭제</button>
      <button th:if="${patient.called}" class="in-consultation-btn" disabled>진료중</button>
    </li>
  </ul>
</div>
</body>
</html>
